<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Collaborative Filtering Website | GoodGamingShop</title>

  <!--
    - custom css link
  -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style-prefix.css') }}">

  <!--
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <!-- HEADER -->
    <header>
        <div class="header-main">
            <div class="container">
                <a href="#" class="header-logo">
                    <img src="{{ url_for('static', filename='/images/logo/logo.png') }}" alt="GGS logo" width="140" height="36">
                </a>
                <div class="header-user-actions">
                    <button class="action-btn">
                        <ion-icon name="person-outline"></ion-icon>
                    </button>
                    <a href="{{ url_for('daftar_belanja', user_id=user_id) }}" class="action-link">
                        <button class="action-btn">
                            <ion-icon name="bag-handle-outline"></ion-icon>
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <nav class="desktop-navigation-menu">
            <div class="container">
                <ul class="desktop-menu-category-list">
                    <li class="menu-category">
                        <a href="{{ url_for('home', user_id=user_id) }}" class="menu-title">Home</a>
                    </li>
                    <li class="menu-category">
                        <a href="{{ url_for('all_items', user_id=user_id)}}" class="menu-title">All Items</a>
                    </li>          
                    <li class="menu-category">
                        <a href="{{ url_for('recommend_page', user_id=user_id)}}" class="menu-title">Recommended</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="mobile-bottom-navigation">
            <button class="action-btn" data-mobile-menu-open-btn>
                <ion-icon name="menu-outline"></ion-icon>
            </button>
            <a href="{{ url_for('daftar_belanja', user_id=user_id) }}" class="action-link">
                <button class="action-btn">
                    <ion-icon name="bag-handle-outline"></ion-icon>
                </button>
            </a>
            <button class="action-btn">
                <ion-icon name="home-outline"></ion-icon>
            </button>
            <button class="action-btn">
                <ion-icon name="heart-outline"></ion-icon>
            </button>
            <button class="action-btn" data-mobile-menu-open-btn>
                <ion-icon name="grid-outline"></ion-icon>
            </button>
        </div>
        <nav class="mobile-navigation-menu has-scrollbar" data-mobile-menu>
            <div class="menu-top">
                <h2 class="menu-title">Menu</h2>
                <button class="menu-close-btn" data-mobile-menu-close-btn>
                    <ion-icon name="close-outline"></ion-icon>
                </button>
            </div>
        </nav>
    </header>

  <!--
    - MAIN
  -->

  <main>
    <div class="product-container-box">
      <div class="container-box">
        {% block content %}
        <div class="product-minimal">
          <div class="product-showcase">
            <h2 class="title">Produk Ditambahkan</h2>
            {% for product in selected_products %}
            <div class="showcase-wrapper has-scrollbar">
              <div class="showcase-container">
                <div class="showcase">
                  <a href="#" class="showcase-img-box">
                    <img src="{{ url_for('static', filename='images/images/' ~ product.id_produk ~ '/image_' ~ product.id_produk ~ '_0.png') }}" alt="Gambar Produk" class="showcase-img" width="70">
                  </a>
                  <div class="showcase-content">
                    <a href="#">
                      <h4 class="showcase-title">{{ product.nama_produk }}</h4>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>

        <div class="product-minimal">
          <div class="product-showcase">
            <h2 class="title">Daftar Belanja</h2>
            {% for product in products %}
            <div class="showcase-wrapper has-scrollbar">
              <div class="showcase-container">
                <div class="showcase">
                  <a href="#" class="showcase-img-box">
                    <img src="{{ url_for('static', filename='images/images/' ~ product.id_produk ~ '/image_' ~ product.id_produk ~ '_0.png') }}" alt="Gambar Produk" class="showcase-img" width="70">
                  </a>
                  <div class="showcase-content">
                    <a href="#">
                      <h4 class="showcase-title">{{ product.nama_produk }}</h4>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </main>

  <!--
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script>
      $(document).ready(function() {
          $.get('{{ url_for("get_selected_ids") }}', function(data) {
              var selectedIds = data.selected_ids;
              console.log('Fetched selected IDs:', selectedIds);
              var list = $('#selected-ids-list');
              list.empty();  // Clear any existing content
              selectedIds.forEach(function(id) {
                  list.append('<li>' + id + '</li>');
              });
          });
      });
  </script>
  {% endblock %}
</body>

</html>